/*Global Settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
}

body {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

nav {
  background-color: hsl(100, 100%, 50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.15rem solid hsl(0, 100%, 1%);
  padding: 0.5rem;
  position: relative;
}
nav #bookmarks {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}
nav a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
  padding: 1em;
  color: hsl(0, 100%, 1%);
}
nav #burger {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  display: none;
}
nav .line {
  width: 4em;
  height: 0.5rem;
  background-color: hsl(0, 100%, 1%);
  margin: 0.5rem;
  border-radius: 20px;
  transition: 3s ease-in-out;
}
@media screen and (max-width: 1000px) {
  nav #burger {
    display: block;
    transition: 1s ease-in-in;
  }
  nav #burger.active .line:first-child {
    transform: translateY(-300px);
  }
  nav #burger.active .line:nth-child(2) {
    transform: rotate(320deg) translateY(10px);
  }
  nav #burger.active .line:nth-child(3) {
    transform: rotate(-320deg) translateY(-10px);
  }
  nav ul {
    position: absolute;
    right: 0;
    top: 22.5vh;
    background-color: yellow;
    height: 77.5vh;
    flex-direction: column;
    text-align: center;
    transform: translate(100%);
    transition: 1s ease-in-out;
  }
  nav ul.active {
    transform: translate(0%);
  }
  nav a {
    color: black;
    font-size: 1.5rem;
    letter-spacing: 2px;
  }
}
@media screen and (max-width: 1000px) and (max-width: 760px) {
  nav ul {
    width: 100%;
  }
}

change-mode #change-mode {
  background-color: hsl(0, 3%, 100%);
  width: 4vw;
  border-radius: 1rem;
  padding: 0.2rem;
  position: absolute;
  left: 93.8vw;
  top: 2vh;
  cursor: pointer;
}
change-mode #change-mode-dot {
  background-color: hsl(0, 3%, 30%);
  border-radius: 1rem;
  width: 0.1vw;
  padding: 0.8rem;
}
change-mode #change-mode-dot:hover {
  width: -1vw;
}

header {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: hsl(200, 100%, 65%);
  border-bottom: 0.15rem solid hsl(0, 100%, 1%);
}
header #top-row {
  display: flex;
  align-items: center;
  position: relative;
}
header #slides-container {
  padding-top: 1.5rem;
}
header .slide {
  background-color: hsl(0, 1%, 50%);
  width: 80vw;
  height: 70vh;
  border-radius: 1.5rem;
  aspect-ratio: 16/9;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 3rem;
}
header #slides1 {
  position: absolute;
  display: block;
}
header #slides2 {
  position: absolute;
  display: block;
}
header #slides3 {
  display: block;
}
header .arrow {
  width: 8rem;
  height: 8rem;
  padding: 1.5rem;
}
header #dots {
  display: flex;
  justify-content: center;
}
header .dot {
  font-size: 3rem;
}

section {
  display: flex;
  text-align: center;
  background-color: hsl(280, 100%, 65%);
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  border-bottom: 0.15rem solid hsl(0, 100%, 1%);
}
section #heading {
  font-size: 1.8rem;
}
section #video {
  width: 85vw;
  aspect-ratio: 16/9;
}
section #description {
  font-size: 1.5rem;
  display: flex;
  width: 85vw;
}

footer #footer-container {
  display: flex;
  height: 20vh;
  text-align: center;
  background-color: hsl(25, 100%, 65%);
  justify-content: space-around;
  align-items: center;
}
footer .icon {
  margin-left: auto;
  margin-right: auto;
  width: 24vw;
}/*# sourceMappingURL=sass.css.map */
