$border-bottom: hsl(0, 100%, 1%)
$header-background-color: hsl(100, 100%, 50%)
$bookmark-element-border-right-color: hsl(0, 100%, 1%)
$bookmark-element-a-color: hsl(0, 100%, 1%)
$change-mode-background-color: hsl(0, 3%, 100%)
$change-mode-dot-background-color: hsl(0, 3%, 30%)
$section-slides-background-color: hsl(200, 100%, 65%)
$slide-background-color: hsl(0, 1%, 50%)
$section-main-background-color: hsl(280, 100%, 65%)
$footer-background-color: hsl(25, 100%, 65%)

/*Global Settings

*
    margin: 0
    padding: 0
    box-sizing: border-box

html
    overflow-x: hidden
    font-family: "Lato", sans-serif

body
    width: 100%
    margin-left: auto
    margin-right: auto
    margin-top: auto
    margin-bottom: auto
    overflow: hidden

nav
    background-color: $header-background-color
    display: flex
    justify-content: space-between
    align-items: center
    border-bottom: 0.15rem solid $border-bottom
    padding: 0.5rem
    position: relative
    & ul
        list-style-type: none
        display: flex
        justify-content: space-around
    & a
        text-decoration: none
        font-size: 1.5rem
        font-weight: bold
        position: relative
        padding: 1em
        color: $bookmark-element-a-color
    #burger
        background: transparent
        border: none
        outline: none
        cursor: pointer
        display: none
    .line
        width: 4em
        height: 0.5rem
        background-color: $border-bottom
        margin: 0.5rem
        border-radius: 20px
        transition: 1s ease-in-out
    @media screen and ( max-width: 1000px)
        #burger
            display: block
            transition: 1s ease-in-in
        #burger.active .line:first-child
            transform: translateY(-300px)
        #burger.active .line:nth-child(2)
            transform: rotate(320deg) translateY(10px)
        #burger.active .line:nth-child(3)
            transform: rotate(-320deg) translateY(-10px)
        ul
            position: fixed
            right: 0
            top: 22.5vh
            background-color: yellow
            height: 77.5vh
            flex-direction: column
            text-align: center
            transform: translate(100%)
            transition: 1s ease-in-out
        ul.active
            transform: translate(0%)
        a
            color: black
            font-size: 1.5rem
            letter-spacing: 2px
        @media screen and ( max-width: 760px)
            ul
                width: 100%

change-mode
    #change-mode
        background-color: $change-mode-background-color
        width: 4vw
        border-radius: 1rem
        padding: 0.2rem
        position: absolute
        left: 93.8vw
        top: 2vh
        cursor: pointer
    #change-mode-dot
        background-color: $change-mode-dot-background-color
        border-radius: 1rem
        width: 0.1vw
        padding: 0.8rem
        &:hover
            width: -1vw

header
    display: flex
    justify-content: center
    text-align: center
    background-color: $section-slides-background-color
    border-bottom: 0.15rem solid $border-bottom
    #top-row
        display: flex
        align-items: center
        position: static
    #slides-container
        padding-top: 1.5rem
    .slide
        background-color: $slide-background-color
        width: 80vw
        height: 70vh
        border-radius: 1.5rem
        aspect-ratio: 16/9
        display: flex
        align-items: center
        justify-content: space-around
        font-size: 3rem
    #slides1
        position: static
        display: block
    #slides2
        position: static
        display: none
    #slides3
        position: static
        display: none
    .arrow
        width: 8rem
        height: 8rem
        padding: 1.5rem
    #arrow-right
    #bottom-row
    #dots
        display: flex
        justify-content: center
    .dot
        cursor: pointer
        font-size: 3rem

    @media screen and ( max-width: 600px)
        .slide
            width: 70vw
            aspect-ratio: 9/16
        .arrow
            width: 4rem
            height: 6rem
            padding: 1rem

section
    display: flex
    text-align: center
    background-color: $section-main-background-color
    flex-wrap: wrap
    align-items: center
    justify-content: space-around
    flex-direction: column
    border-bottom: 0.15rem solid $border-bottom

    #heading
        font-size: 1.8rem
    #video-container

    #video
        width: 85vw
        aspect-ratio: 16/9

    #description
        font-size: 1.5rem
        display: flex
        width: 85vw

footer
    #footer-container
        display: flex
        height: 20vh
        text-align: center
        background-color: $footer-background-color
        justify-content: space-around
        align-items: center

    .icon
        margin-left: auto
        margin-right: auto
        width: 24vw
    #Facebook

    #YouTube

    #TikTok

    #Instagram
