$light-nav-background-color: hsl(212.1, 100%, 13.9%)
$light-nav-bookmark-element-a-color: hsl(0, 0%, 100%)
$light-nav-line-background-color: hsl(0, 100%, 100%)
$light-nav-burger-ul-background-color: hsl(60, 0%, 100%)
$light-nav-burger-a-color: hsl(0, 100%, 0%)
$light-header-background-color: hsl(0, 0%, 100%)
$light-header-slide-background-color: hsl(0, 1%, 50%)
$light-header-arrow-color: hsl(0, 100%, 1%)
$light-section-background-color: hsl(0, 0%, 100%)
$light-footer-background-color: hsl(212.1, 100%, 13.9%)
$light-border-bottom: hsl(0, 100%, 1%)

$light-change-mode-background-color: hsl(0, 0%, 100%)
$light-change-mode-dot-background-color: hsl(0, 3%, 30%)
$dark-change-mode-background-color: hsl(0, 0%, 15%)
$dark-change-mode-dot-background-color: hsl(0, 3%, 70%)

$dark-nav-background-color: hsl(212.1, 100%, 13.9%)
$dark-bookmark-element-a-color: hsl(0, 0%, 5%)
$dark-change-mode-background-color: hsl(0, 0%, 5%)
$dark-line-background-color: hsl(0, 0%, 80%)
$dark-nav-burger-ul-background-color: hsl(60, 0%, 5%)
$dark-nav-burger-a-color: hsl(0, 0%, 100%)
$dark-change-mode-dot-background-color: hsl(0, 3%, 30%)
$dark-header-background-color: hsl(0, 0%, 5%)
$dark-header-slide-background-color: hsl(0, 1%, 50%)
$dark-header-arrow-color: hsl(0, 100%, 1%)
$dark-section-background-color: hsl(0, 0%, 5%)
$dark-footer-background-color: hsl(212.1, 100%, 13.9%)
$dark-border-bottom: hsl(0, 0%, 100%)
/*Global Settings

*
    margin: 0
    padding: 0
    box-sizing: border-box

html
    overflow-x: hidden
    font-family: "Lato", sans-serif

body
    width: 100%
    margin-left: auto
    margin-right: auto
    margin-top: auto
    margin-bottom: auto
    overflow: hidden

nav
    &.light
        background-color: $light-nav-background-color
        display: flex
        justify-content: space-between
        align-items: center
        border-bottom: 0.15rem solid $light-border-bottom
        padding: 0.5rem
        position: relative
    &.dark
        background-color: $dark-nav-background-color
        display: flex
        justify-content: space-between
        align-items: center
        border-bottom: 0.15rem solid $dark-border-bottom
        padding: 0.5rem
        position: relative
    & ul
        list-style-type: none
        display: flex
        justify-content: space-around
    & a
        text-decoration: none
        font-size: 1.5rem
        font-weight: bold
        position: relative
        padding: 1em
        color: $light-nav-bookmark-element-a-color
    #burger
        background: transparent
        border: none
        outline: none
        cursor: pointer
        display: none
    .line
        width: 4em
        height: 0.5rem
        background-color: $light-nav-line-background-color
        margin: 0.5rem
        border-radius: 20px
        transition: 1s ease-in-out
    @media screen and ( max-width: 1000px)
        #burger
            display: block
            transition: 1s ease-in-in
        #burger.active .line:first-child
            transform: translateY(-300px)
        #burger.active .line:nth-child(2)
            transform: rotate(320deg) translateY(10px)
        #burger.active .line:nth-child(3)
            transform: rotate(-320deg) translateY(-10px)
        ul
            position: fixed
            right: 0
            top: 22.5vh
            background-color: $light-nav-burger-ul-background-color
            height: 77.5vh
            flex-direction: column
            text-align: center
            transform: translate(100%)
            transition: 1s ease-in-out
            z-index: 1
        ul.active
            transform: translate(0%)
        a
            color: $light-nav-burger-a-color
            font-size: 1.5rem
            letter-spacing: 2px
        @media screen and ( max-width: 760px)
            ul
                width: 100%
    & #change-mode
        width: 3rem
        height: 2rem
        background-color: $light-change-mode-background-color
        position: absolute
        outline-width: 5px
        cursor: pointer
        border-radius: 50px
        left: 95vw
        top: 2vh
    & #change-mode-dot
        display: block
        width: 1.3rem
        height: 1.3rem
        margin: 0.1rem 0.1rem
        position: relative
        background-color: $light-change-mode-dot-background-color
        border-radius: 100%
        transition: background-color 0.3s, transform 0.3s
header
    &.light
        background-color: $light-header-background-color
    &.dark
        background-color: $dark-header-background-color
    & #slider
        position: relative
        display: flex
        align-items: center
        justify-content: space-around
        width: 100%
        margin: auto
        overflow: hidden
    & .arrow
        color: $light-header-arrow-color
        cursor: pointer
        width: 5rem
        height: 5rem
    & .slide-container
        display: none
        &.displaySlide
            display: block
    & .slide
        background-color: $light-header-slide-background-color
        width: 80vw
        height: 70vh
        border-radius: 1.5rem
        aspect-ratio: 16/9
        display: flex
        justify-content: center
        align-items: center
        font-size: 3rem
        margin: 2.3rem 0rem 2.3rem 0rem
    @media screen and ( max-width: 600px)
        .slide
            width: 16rem
            aspect-ratio: 9/16
        .arrow
            width: 4rem
            height: 6rem

section
    &.light
        display: flex
        text-align: center
        background-color: $light-section-background-color
        flex-wrap: wrap
        align-items: center
        justify-content: space-around
        flex-direction: column
        border-bottom: 0.15rem solid $light-border-bottom
    &.dark
        display: flex
        text-align: center
        background-color: $dark-section-background-color
        flex-wrap: wrap
        align-items: center
        justify-content: space-around
        flex-direction: column
        border-bottom: 0.15rem solid $dark-border-bottom
    & h1
    #heading
        font-size: 1.8rem
        padding: rem 0
    #video-container

    #video
        width: 85vw
        aspect-ratio: 16/9

    #description
        font-size: 1.5rem
        display: flex
        width: 85vw

footer
    &.light #footer-container
        display: flex
        height: 20vh
        text-align: center
        background-color: $light-footer-background-color
        justify-content: space-around
        align-items: center
    &.dark #footer-container
        display: flex
        height: 20vh
        text-align: center
        background-color: $dark-footer-background-color
        justify-content: space-around
        align-items: center
    & #footer-container
    .icon
        margin-left: auto
        margin-right: auto
        width: 24vw
    #Facebook

    #YouTube

    #TikTok

    #Instagram
