$nav-background-color: hsl(100, 100%, 50%)
$bookmark-element-a-color: hsl(0, 100%, 1%)
$change-mode-background-color: hsl(0, 3%, 100%)
$line-background-color: hsl(0, 100%, 1%)
$burger-ul-background-color: hsl(60, 100%, 60%)
$burger-a-color: hsl(0, 100%, 0%)
$change-mode-dot-background-color: hsl(0, 3%, 30%)
$header-background-color: hsl(200, 100%, 65%)
$header-slide-background-color: hsl(0, 1%, 50%)
$header-arrow-color: hsl(0, 100%, 1%)
$section-background-color: hsl(280, 100%, 65%)
$footer-background-color: hsl(25, 100%, 65%)
$border-bottom: hsl(0, 100%, 1%)

/*Global Settings

*
    margin: 0
    padding: 0
    box-sizing: border-box

html
    overflow-x: hidden
    font-family: "Lato", sans-serif

body
    width: 100%
    margin-left: auto
    margin-right: auto
    margin-top: auto
    margin-bottom: auto
    overflow: hidden

nav
    background-color: $nav-background-color
    display: flex
    justify-content: space-between
    align-items: center
    border-bottom: 0.15rem solid $border-bottom
    padding: 0.5rem
    position: relative
    & ul
        list-style-type: none
        display: flex
        justify-content: space-around
    & a
        text-decoration: none
        font-size: 1.5rem
        font-weight: bold
        position: relative
        padding: 1em
        color: $bookmark-element-a-color
    #burger
        background: transparent
        border: none
        outline: none
        cursor: pointer
        display: none
    .line
        width: 4em
        height: 0.5rem
        background-color: $line-background-color
        margin: 0.5rem
        border-radius: 20px
        transition: 1s ease-in-out
    @media screen and ( max-width: 1000px)
        #burger
            display: block
            transition: 1s ease-in-in
        #burger.active .line:first-child
            transform: translateY(-300px)
        #burger.active .line:nth-child(2)
            transform: rotate(320deg) translateY(10px)
        #burger.active .line:nth-child(3)
            transform: rotate(-320deg) translateY(-10px)
        ul
            position: fixed
            right: 0
            top: 22.5vh
            background-color: $burger-ul-background-color
            height: 77.5vh
            flex-direction: column
            text-align: center
            transform: translate(100%)
            transition: 1s ease-in-out
            z-index: 1
        ul.active
            transform: translate(0%)
        a
            color: $burger-a-color
            font-size: 1.5rem
            letter-spacing: 2px
        @media screen and ( max-width: 760px)
            ul
                width: 100%

change-mode
    #change-mode
        background-color: $change-mode-background-color
        width: 4vw
        border-radius: 1rem
        padding: 0.2rem
        position: absolute
        left: 93.8vw
        top: 2vh
        cursor: pointer
    #change-mode-dot
        background-color: $change-mode-dot-background-color
        border-radius: 1rem
        width: 0.1vw
        padding: 0.8rem
        &:hover
            width: -1vw

header
    background-color: $header-background-color
    border-bottom: 0.15rem solid $border-bottom
    & #slider
        position: relative
        display: flex
        align-items: center
        justify-content: space-around
        width: 100%
        margin: auto
        overflow: hidden
    & .arrow
        color: $header-arrow-color
        cursor: pointer
        width: 5rem
        height: 5rem
    & .slide-container
        display: none
        &.displaySlide
            display: block
    & .slide
        background-color: $header-slide-background-color
        width: 80vw
        height: 70vh
        border-radius: 1.5rem
        aspect-ratio: 16/9
        display: flex
        justify-content: center
        align-items: center
        font-size: 3rem
        margin: 2.3rem 0rem 2.3rem 0rem
    @media screen and ( max-width: 600px)
        .slide
            width: 16rem
            aspect-ratio: 9/16
        .arrow
            width: 4rem
            height: 6rem

section
    display: flex
    text-align: center
    background-color: $section-background-color
    flex-wrap: wrap
    align-items: center
    justify-content: space-around
    flex-direction: column
    border-bottom: 0.15rem solid $border-bottom

    #heading
        font-size: 1.8rem
    #video-container

    #video
        width: 85vw
        aspect-ratio: 16/9

    #description
        font-size: 1.5rem
        display: flex
        width: 85vw

footer
    #footer-container
        display: flex
        height: 20vh
        text-align: center
        background-color: $footer-background-color
        justify-content: space-around
        align-items: center

    .icon
        margin-left: auto
        margin-right: auto
        width: 24vw
    #Facebook

    #YouTube

    #TikTok

    #Instagram
